.exhibition__container {
    display: flex;
}

.exhbition__card {
    height: 100%;
}
.exhbition__cardmedia {
    padding-top: 100%;
}

.exhbition__plusbutton {
    background-color:rgba(0, 0, 0, 0.54);
}

.exhibition_cardactionarea {
    height: 100%;
}